# =============================================================================
# File        : automerge.yml
# Author      : yukimemi
# Last Change : 2024/08/11 22:55:19.
# =============================================================================

name: automerge

on:
  workflow_dispatch:
  pull_request:
  check_suite:
    types: [completed]
  status: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1
        id: vim
        with:
          version: "v9.1.2022"
      - uses: rhysd/action-setup-vim@19e3dd31a84dbc2c5445d65e9b363f616cab96c1 # v1
        id: nvim
        with:
          neovim: true
          version: "v0.11.5"
      - uses: denoland/setup-deno@v1
      - run: deno task ci
        env:
          DENOPS_TEST_VIM_EXECUTABLE: ${{ steps.vim.outputs.executable }}
          DENOPS_TEST_NVIM_EXECUTABLE: ${{ steps.nvim.outputs.executable }}
      - uses: "pascalgn/automerge-action@7961b8b5eec56cc088c140b56d864285eabd3f67" # v0.16.4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
